div#menu {
    height:35px;

}

div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
div#menu ul.menu {
    height: 35px;
    padding-left: 30px;
}

div#menu li {
    border-left: 1px solid #FFFFFF;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 9;
}

div#menu li:hover>ul {
    left: -2px;
}

div#menu li div {
    list-style: none;
    float: left;
    position: absolute;
    top: 25px;
    left: 0;
    width: 208px;
    z-index: 11;
    visibility: hidden;
    padding: 0 0 9px 7px;
    _padding: 0 0 9px 3px;
    margin: 0 0 0 -9px;
}
div#menu li:hover>div {
    visibility: visible;
}

div#menu li a:hover{
    background: #ff0000;
}

div#menu li.current a {}

/* menu::level1 */
div#menu a {
    display: block;
    float: left;
    height: 32px;
    line-height: 72px;
    padding: 3px 10px 0 6px;
    position: relative;
    text-decoration: none;
    z-index: 10;
}
div#menu span {
    font: normal 12px 'Lucida Sans Unicode','Lucida Grande',Helvetica,Arial,sans-serif;
    padding-top: 4px;
    font-weight:bold;
    text-transform:uppercase;
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;		
}



div#menu li.last span{   
    padding: 18px 10px 16px 0;
}

/* menu::level2 */
div#menu ul ul li {
    z-index: 9;	
}
div#menu ul ul {
    z-index: 12;	
    padding: 0;
    background: #fff;
    margin-top:0px;
    margin-left:4px;
    margin-right:5px;
}
div#menu ul ul a {
    width: 184px;
    padding: 0px 7px 3px 8px;
    height: auto;
    float: none;
    display: block;
    background:none;
    margin-bottom: 2px;
    z-index: -1;
}
div#menu ul ul a span {
    padding: 0 10px 0px 10px;
    line-height: 20px;
    color: #454545;
    font-weight:normal;
    text-transform: none;
    background:none;
}
div#menu ul ul a:hover {
    background: #AF1111;
}
div#menu ul ul a:hover span {
    background: #AF1111;
    color: #fff;
}


div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu ul ul div {
    width: 208px;
    margin: -50px 0 0 190px !important;
    height: auto;
    _padding: 0 0 9px 3px;
}
div#menu ul ul ul {
    _padding-right:1px;
}

/* lava lamp */
div#menu li.back {
}
div#menu li.back .left {
}

